{% extends  'base.html' %}


{% block head %}
<title>EDIT POST</title>
{% endblock %}


{% block body %}
<h1>EDITING POST</h1>
<hr>
<h2>Edit:</h2>
<form action="/posts/edit/{{post.id}}" method="POST">
    <label for="title">TITLE:</label>
    <input
      class="form-control"
      type="text"
      name="title"
      id="title"
      value="{{post.title}}"
      aria-label="Enter Title"
    />
    <br />
    <label for="author">AUTHOR:</label>
    <input
      class="form-control"
      type="text"
      name="author"
      id="author"
      value="{{post.author}}"
      aria-label="Enter Author"
    />
    <br />
    <label for="content">POST:</label>
    <textarea
      name="content"
      class="form-control"
      id="content"
      rows="3"
      aria-label="Enter Content"
    >{{post.content}}</textarea>
    <br />
    <input class="btn btn-success" type="submit" value="Save" />
  </form>
<hr>
{% endblock %}