{% extends 'base.html' %} {% block head %}
<title>HOME</title>
{% endblock %} {% block body %}
<br>
<h1>HOME PAGE</h1>
<br>
<main role="main" class="container">
  <div class="jumbotron" style="background-color: #e9ecef; padding: 64px 32px;">
    <h1>Welcome</h1>
    <p class="lead">
      Welcome to Akshita's Blog!!!
      A basic Flask CRUD website involves using Flask, a Python web framework, to handle database operations. It typically includes routes to create new records, read existing records, update records, and delete records. These routes interact with a database, often through SQLAlchemy, to manage data. 
    <br>
    <br>
    I learned this project from the <a href="https://www.youtube.com/@CleverProgrammer">Clever Programmer.com</a> YouTube channel.
    </p>
    <a
      class="btn btn-lg btn-primary"
      href="/posts"
      role="button"
      >Go To Posts &raquo;</a
    >
  </div>
</main>

{% endblock %}
